<div class="row">
     <div class="chart-container" style="position:relative; height:40vh; width:40vw">
 
         <canvas id="canvas">{{ chart }}</canvas>
         <h3> This team has kicked {{goals}} Goals throughout the season</h3>
         <h3> The average goals this team has kicked per game is {{avgGoals}} </h3>
         <h3> The this team has scored {{behinds}} behinds this season </h3>
         <h3> the aveage behinds this team has scored this season is  {{avgBehinds}} behinds this season </h3>
 
       </div>
 
      </div>
   
 