
  <div *ngIf="team">
      <div class="col-sm">

          <table>
      <tr>
          <th>Round </th>
      <th>Home team </th>
      <th>Away Team </th>
      <th>Venue </th>
      <th>Date </th>

    </tr>
  
    <tr *ngFor= "let game of games | filterGame : team.name : 0 ; let i =index">
      <td *ngIf="i<5"> {{ game.round }}</td>     
      <td *ngIf="i<5"> {{ game.hteam }}</td>
      <td *ngIf="i<5">  {{ game.ateam }}</td>   
      <td *ngIf="i<5">  {{ game.venue }}</td>
      <td *ngIf="i<5">  {{ game.date }}</td>
      </tr>
    </table>

</div>

<div class="col-sm">
    <table>
        <tr>
            <th>Home team </th>
        <th>Home team </th>
        <th>Away Team </th>
        <th>Venue </th>
        <th>Winner </th>
        </tr>


<tr *ngFor= "let game of games | filterGame : team.name : 100">
    <td> {{ game.round }}</td>     
      <td > {{ game.hteam }}</td>
      <td >  {{ game.ateam }}</td>   
      <td >  {{ game.venue }}</td>
      <td >  {{ game.winner }}</td>
    </tr>
              </table>


</div>


</div>