
 <div *ngIf="team">
    <div id ="teamDisplay">
<img src="https://squiggle.com.au/{{team.logo}}">
      <div class="col-sm">
        <div class="tbl">
<h2>Past Games this Season</h2>
          <table id = "contentToConvertGames"  class="table">
        <tr>
        <th>Round</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Venue </th>
        <th>Winner </th>
        </tr>


<tr *ngFor= "let game of games | filterGame : team.name : 100">
    <td>{{ game.round }}</td>     
      <td >{{ game.hteam }}</td>
      <td >{{ game.ateam }}</td>   
      <td >{{ game.venue }}</td>
      <td >{{ game.winner }}</td>
    </tr>
              </table>



</div>
</div>

<div class="col-sm">
  <div class="tbl">
<h2>Next Five Games</h2>
<table id = "contentToConvertNextGames"  class="table">
      <tr>
      <th>Round</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Venue</th>
      <th>Date</th>

    </tr>
  
    <tr *ngFor= "let game of games | filterGame : team.name : 0 ; let i = index">
      <td *ngIf="i<5"> {{ game.round }}</td>     
      <td *ngIf="i<5"> {{ game.hteam }}</td>
      <td *ngIf="i<5">  {{ game.ateam }}</td>   
      <td *ngIf="i<5">  {{ game.venue }}</td>
      <td *ngIf="i<5">  {{ game.date }}</td>

      </tr>
    </table>
  </div>
</div>

    <div class="col-sm">
      <div class="tbl">
      <h2>Next Game Prediction</h2>
      <table id = "contentToConvertTips" class="table">  
        <tr>
          <th>Round</th>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Venue </th>
          <th>Date </th>
          <th>Prediction</th>
          <th>Source</th>
        </tr>


        <tr>
    <tr *ngFor= "let tip of tips | tipFilter : team.name; let tip of tips " >
       <td> {{ tip.round }}</td>     
       <td>  {{ tip.hteam }}</td>   
       <td>  {{ tip.ateam }}</td>   
      <td>  {{ tip.venue }}</td>
      <td>  {{ tip.date }}</td>
      <td>  {{ tip.tip }}</td>
      <td>  {{ tip.source }}</td>
     </tr>
    </table>
    </div>
  </div>

    <button class="btn btn-outline-dark" (click)="captureScreen()"> <strong>Export to PDF</strong></button>
            </div>
