    <div class="container">
        <h1>Rival Selection</h1>
        <form>
          <div class="form-group">
            <label for="team1">Team 1</label>
            <select ngModel="Team[]" class="form-control" id="Team1" required>
            	<option value="" selected disabled hidden>Select Team</option>
            	<option *ngFor="let team of teams" [ngValue]="team1">{{team.name}}</option>
            </select>

            <label for="team1">Team 2</label>
            <select ngModel="Team[]" class="form-control" id="Team2" required>
            	<option value="" selected disabled hidden>Select Team</option>
            	<option *ngFor="let team of teams" [ngValue]="team2">{{team.name}}</option>
            </select>
          </div>
     
          <button type="submit" class="btn btn-success" (click)="t1 = team1; t2 = team2; display = true;">Submit</button>
     
        </form>

</div>

        <div *ngIf="display">
            <table class="table">
            <tr>
            <th>Round</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Venue </th>
            <th>Winner </th>
            </tr>
    
    
    <tr *ngFor= "let game of games | filterGame : team1.name : team2.name">
        <td>{{ game.round }}</td>     
          <td >{{ game.hteam }}</td>
          <td >{{ game.ateam }}</td>   
          <td >{{ game.venue }}</td>
          <td >{{ game.winner }}</td>
        </tr>
                  </table>
    
    
    </div>