<div class="container">
    <h1>Rival Selection</h1>
    <form #RivalForm="ngForm" name="RivalForm">
      <div class="form-group">
        <label>Team 1</label>
        <select name="team1" class="form-control" required ngModel>
            <option value="" selected disabled hidden>Select Team</option>
            <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
        </select>

        <label>Team 2</label>
        <select name="team2" class="form-control" required ngModel>
            <option value="" selected disabled hidden>Select Team</option>
            <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
        </select>
      </div>
 
      <button type="submit" class="btn btn-success" (click)="submitted = true;">Submit</button>
      <button type="button" class="btn btn-danger" (click)="submitted = false; this.RivalForm.reset()">Clear</button>
 
    </form>
</div>


        <div *ngIf="submitted">
            <table class="table">
            <tr>
            <th>Round</th>
            <th>Home Team</th>
            <th>Score</th>
            <th>Away Team</th>
            <th>Score</th>
            <th>Venue </th>
            <th>Winner </th>
            </tr>
    
    
    <tr *ngFor= "let game of games | rivalTeamFinder : RivalForm.value.team1 : RivalForm.value.team2">
        <td>{{ game.round }}</td>     
        <td>{{ game.hteam }}</td>
        <td>{{ game.hgoals }}-{{ game.hbehinds }}-{{ game.hscore }}</td>
        <td>{{ game.ateam }}</td>
        <td>{{ game.agoals }}-{{ game.abehinds }}-{{ game.ascore }}</td>
        <td>{{ game.venue }}</td>
        <td>{{ game.winner }}</td>
        </tr>
                  </table>
    
    
    </div>